@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
    /*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
    --color-accent-50: var(--color-red-50);
    --color-accent-100: var(--color-red-100);
    --color-accent-200: var(--color-red-200);
    --color-accent-300: var(--color-red-300);
    --color-accent-400: var(--color-red-400);
    --color-accent-500: var(--color-red-500);
    --color-accent-600: var(--color-red-600);
    --color-accent-700: var(--color-red-700);
    --color-accent-800: var(--color-red-800);
    --color-accent-900: var(--color-red-900);
    --color-accent-950: var(--color-red-950);
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/

.title-wrapper {
    height: 42px;
    overflow-y: visible;
}

.site-title {
    gap: 0.5rem;
}

a.site-title>img {
    position: relative;
    width: 1.8rem;
    height: 8rem;
    top: 1.5rem;
}

a.site-title>span {
    color: var(--sl-color-white);
}

.sidebar-content {
    padding-top: 2rem;
}

@media (max-width: 800px) {
    mobile-starlight-toc>nav>details {
        padding-left: 2rem;
    }
}

.hero>img {
    max-width: 10rem;
}
